
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shoucangjia:before { content: "\e60d"; }
.icon-yaopin:before { content: "\e612"; }
.icon-dingdanjiantou:before { content: "\e608"; }
.icon-iconfontduihua2:before { content: "\e600"; }
.icon-yonghuming:before { content: "\e60a"; }
.icon-shouyehome:before { content: "\e611"; }
.icon-youjiantou:before { content: "\e619"; }
.icon-dongtai:before { content: "\e613"; }
.icon-youjiantou1:before { content: "\e609"; }
.icon-shouji:before { content: "\e61f"; }
.icon-zan:before { content: "\e618"; }
.icon-tel:before { content: "\e614"; }
.icon-deng:before { content: "\e601"; }
.icon-wenhao:before { content: "\e617"; }
.icon-tengxunweibo:before { content: "\e620"; }
.icon-liulanyanjing:before { content: "\e61a"; }
.icon-sitting:before { content: "\e60e"; }
.icon-weixin:before { content: "\e621"; }
.icon-jiyinxitong:before { content: "\e602"; }
.icon-youjianhao:before { content: "\e607"; }
.icon-weibiaoti1:before { content: "\e603"; }
.icon-jiankang:before { content: "\e615"; }
.icon-tupian:before { content: "\e60f"; }
.icon-kefudianhua:before { content: "\e61b"; }
.icon-chat:before { content: "\e610"; }
.icon-sina:before { content: "\e622"; }
.icon-yuyueguahao:before { content: "\e60b"; }
.icon-yiyuan:before { content: "\e604"; }
.icon-fuwu:before { content: "\e605"; }
.icon-604luxian:before { content: "\e606"; }
.icon-dianhua:before { content: "\e60c"; }
.icon-yisheng:before { content: "\e616"; }
.icon-man:before { content: "\e61c"; }
.icon-woman:before { content: "\e61d"; }
.icon-people:before { content: "\e623"; }
.icon-dqwz:before { content: "\e61e"; }
